// Set HTML to get easy calculation. 62.5% = 10px.
html {
  font-size: 62.5%;
}

// Set font size back to 16px.
body {
  color: $text-color;
  font-family: $font-family-base;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: 1.5;
}

h1 {
  font-size: 5rem;
  font-weight: 100;
  line-height: 5.5rem;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.3rem;
}

h4 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8rem;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: all 750ms ease-in-out;

  &:hover {
    box-shadow: 0 1px 0 0 $gray-3;
    transition: all 300ms ease-in-out;
  }
}

.text-formatted { // To prevent leaking UL style to other elements like menu.
  ul {
    margin-left: 1em;
    padding-left: 1em;
  }

  ol {
    margin-left: 1em;
    padding-left: 1em;
  }
}

blockquote {
  background: $light-blue;
  border-radius: 4px;
  margin:  3em 0;
  position: relative;
  padding: 2em;

  &:before {
    color: $white;
    content: '“';
    font-size: 8em;
    left: 6px;
    line-height: 1;
    position: absolute;
    text-shadow: -3px 0 $light-blue;
    top: -30px;
  }

  &:after {
    color: #fff;
    content: '”';
    font-size: 8em;
    position: absolute;
    right: 6px;
    text-shadow: 3px 0 $light-blue;
    line-height: 1;

  }
}

.lead {
  font-size: $font-size-large;
  font-weight: 100;
  font-style: italic;
}

.extra-large {
  font-size: 4rem;
  font-weight: 100;
  font-style: italic;
  margin: .3em 0;
}
