#block-drupalcz-skin-login {

  .form-item-pass {
    label {
      margin-bottom: 5px;
    }
    input {
      width: 100%;
    }
  }
  .form-actions {
    margin-bottom: 1em;
    text-align: center;
  }
}