article.comment {
  border-bottom: 1px solid $gray-lighter;
  margin-top: 2em;

  .content > h3 {
    margin-top: 0.3em;
  }

  &.by-viewer {
    .comment__meta {
      background: $light-background;
    }
  }
  &.by-anonymous {
    .comment__meta {
      @extend .comment__meta;
    }
  }
}


mark {
  background: none;
  color: $brand-danger;
}

.indented {
  margin-left: 3em;
}

.comment__meta {
  @extend %submitted_by;
}
.comment__submitted {
  display: inline-block;
  margin-bottom: 0;
}
