.field--name-field-attachment {
  background: $gray-lighter;
  margin: 2em 0;
  padding: 0.5em 1em;

  .field--item {
    display: list-item;
    list-style: decimal;
    list-style-position: inside;
    margin: 0.5em 0;

    a {
      display: block;

      &:hover {
        background: transparentize($light-background, 0.15);
      }
    }
  }
}

.field--name-taxonomy-forums,
.field--name-field-drupal-version {
  color: $brand-primary;
}

.field--name-field-drupal-version {
  margin-bottom: 1em;
}
