input.form-search {
  background: transparent;
  border: none;
  border-bottom: 2px solid $light-color;
  border-radius: 0;
  color: $light-color;
  text-align: center;

  @include input-placeholder {
    color: $light-color;
  }
}

.search-form {
  input.form-search {
    border-bottom: 3px solid $brand-primary;
    color: $brand-primary;
    font-size: 2em;
    font-weight: 700;
    height: 2em;
    @include input-placeholder {
      color: lighten($gray-light, 20%);
    }
  }

  button.form-submit {
    @include box-shadow(none);
    background: none;
    padding: 0 0 0 10px;
  }

  .glyphicon {
    color: $brand-primary;
    font-size: 20px;
  }
}

.search-block-form {
  margin-bottom: 3px;
  margin-top: 10px;
  padding-right: 0;
  .form-group {
    margin-bottom: 0;
  }

  button.form-submit {
    @include box-shadow(none);
    background: none;
    padding: 0 0 0 10px;
  }
  .glyphicon {
    font-size: 20px;
  }
}