%submitted_by {
  background: $gray-lighter;
  color: $gray;
  font-size: $font-size-small;
  margin: 0.5em 0;
  padding: 0.5em 1em;

  > a {
    border-right: 1px solid transparentize($gray-light, 0.3);
    margin-right: 0.5em;
    padding-right: 0.5em;
  }
}
