.view-filters {
  margin: 01em 0;

  .form-inline {
    @media (min-width: $screen-sm-min) {
      display:-webkit-flex;
      display: flex;
    }
  }

  .form-item {
    flex-grow: 1;
    margin-right: 1em;

    input {
      max-width: 100%;
    }
  }

  button {
    @media (min-width: $screen-sm-min) {
      margin-top: 1.2em;
    }
  }
}