article.comment {
  border-bottom: 1px solid $gray-2;
  margin-top: 2em;

  .content > h3 {
    margin-top: .3em;
  }

  &.by-viewer {
    .comment__meta {
      background: $light-blue;
    }
  }

  &.by-anonymous {
    .comment__meta {
      @extend %submitted-by;
    }
  }
}

mark {
  background: $drupal-danger;
  color: $white;
  display: block;
  font-size: $font-size-small;
  text-align: center;
}

.indented {
  margin-left: 3em;
}

.comment__meta {
  @extend %submitted-by;
}

.comment__submitted {
  display: inline-block;
  margin-bottom: 0;
}
