form {
  background: rgba(51, 122, 183, 0.1);
  padding: 1em 2em;

  label {
    display: block;
  }

  input {
    color: $drupal-secondary;
  }

  .form-text,
  .form-email,
  .form-tel,
  .form-textarea {
    border: none;
    box-shadow: 0 0 0 2px $drupal-secondary;
    border-radius: 3px;
    padding: 0.5em 1em;
    color: $drupal-secondary;
  }

  .form-textarea {
    border-radius: 3px;
  }

  .form-item .description {
    font-size: 0.85em;
    line-height: 1.3em;
    margin-top: 0.5em;
  }
}
