.forum {
  .time {
    font-size: $font-size-small;
  }
}

.forum-container {
  background: $gray-5;
  border-bottom: 5px solid $gray-8;
  padding-top: 2em !important;

  a {
    font-weight: 600;
  }
}

.forum__title {
  div:first-child {
    font-size: 2rem;
    font-weight: 700;
  }
  br {
    display: none;
  }
}

.forum__topics,
.forum__posts {
  text-align: right;
  width: 7em;

  a {
    font-size: $font-size-small;
  }
}

.forum__replies {
  text-align: right;
  br {
    display: none;
  }

  a {
    background: $drupal-danger;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin-left: 3px;
    overflow: hidden;
    text-indent: -9999px;
    vertical-align: super;
    width: 8px;
  }
}

.forum__last-reply {
  text-align: right;
  width: 15em;
}
