form {
  background: rgba(51, 122, 183, .1);
  padding: 1em 2em;

  label {
    display: block;
  }

  input {
    color: $drupal-secondary;
  }

  .form-text,
  .form-email,
  .form-tel,
  .form-textarea {
    border: none;
    box-shadow: 0 0 0 2px $drupal-secondary;
    border-radius: 3px;
    color: $drupal-secondary;
    padding: .5em 1em;
    width: 100%;

    @include bp(small) {
      max-width: 100%;
    }
  }

  .form-textarea {
    border-radius: 3px;
  }

  .form-item .description {
    font-size: .85em;
    line-height: 1.3em;
    margin-top: .5em;
  }
}
