.menu-switch {
  width: 35px;
  height: 28px;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: block;

  @include bp(middle) {
    display: none;
  }
}

.menu-switch span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: $white;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.menu-switch span:nth-child(1) {
  top: 0px;
}

.menu-switch span:nth-child(2),.menu-switch span:nth-child(3) {
  top: 12px;
}

.menu-switch span:nth-child(4) {
  top: 24px;
}

.menu-switch.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu-switch.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-switch.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-switch.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
