/* Style the tab */
.tab {
  border-bottom: 1px solid $drupal-primary;
  color: $drupal-secondary;
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
  width: 100%;

  @include bp(small) {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    @include bp(small) {
      width: calc(100 / 2 * 1%);
    }
    @include bp(middle) {
      width: calc(100 / 3 * 1%);
    }
    @include bp(large) {
      width: calc(100 / 5 * 1%);
    }
  }
}

/* Style the link that are used to open the tab content */

.tablink {
  background-color: inherit;
  color: $gray-4;
  display: inline-block;
  font-weight: 500;
  padding: .7em 1.4em;
  text-align: center;
  transition: .3s;
  width: 100%;

  /* Change background color of buttons on hover */
  &:hover {
    box-shadow: 0 2px 0 0 $drupal-primary;
    color: $drupal-primary;
  }

  /* Create an active/current tablink class */
  &.active {
    box-shadow: inset 0 -4px 0 0 $drupal-primary;
    color: $drupal-primary;
  }
}

/* Style the tab content */
.tab-pane {
  animation: fadeOut 1s; /* Fading effect takes 1 second */
  border-bottom: 3px solid $gray-2;
  display: none;
  margin-bottom: 2em;
  padding: 1em;

  &.active {
    animation: fadeIn 2.3s; /* Fading effect takes 1 second */
    display: block;
  }
}


/* Go from zero to full opacity */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Go from zero to 0 opacity */
@keyframes fadeOut {
  from {opacity: 0;}
  to {opacity: 1;}
}
