table {
  border-bottom: 5px solid $drupal-primary;
  width: 100%;
}

thead {
  background: $drupal-primary;
  border-bottom: 6px double $drupal-primary;
  color: $white;

  th {
    display: block;
    padding: 3px 8px;
    text-align: center;
    vertical-align: top;

    @include bp(middle) {
      display: table-cell;
      text-align: left;
    }
  }

  a {
    color: $white;
  }
}

tbody {
  tr {
    border-bottom: 1px solid $drupal-primary;

    &:nth-child(even) {
      background: $light-blue;
    }
  }
  td {
    display: block;
    padding: 3px 5px;
    text-align: center;
    vertical-align: top;

    @include bp(middle) {
      display: table-cell;
      text-align: left;
    }
  }
}
