.vm-teaser {
  @include bp(small) {
    display: flex;
  }

  &.has-image {
    .vm-image {
      @include bp(small) {
        margin-right: 3%;
        width: 30%;
      }
      @include bp(medium) {
        width: 20%;
      }
    }
    .vm-content-wrapper {
      @include bp(small) {
        width: 70%;
      }
      @include bp(medium) {
        width: 80%;
      }
    }
  }

  .vm-title {
    font-size: 2.5rem;
    margin-bottom: .3em;
    margin-top: 0;
    position: relative;
    
    &:after {
      background: $white-9;
      color: $gray-4;
      font-size: 1rem;
      bottom: -11px;
      padding: 0.1em 0.2em;
      position: absolute;
      text-transform: uppercase;
    }
  }

  .node--type-tutorial & {
    .vm-title:after {
      content: "Tutoriál";
    }
  }

  .node--type-dcz_article & {
    .vm-title:after {
      content: "Článek";
    }
  }

  .node--sticky & {
    .vm-title a {
      color: $drupal-third;
    }
  }
}
