.vm-stack {
  background: $white-9;

  .vm-content-wrapper {
    padding: 0.7em 1em;
  }
  .vm-title {
    font-size: 2.5rem;
    margin-top: 0;
  }
  .vm-image {

    img {
      display: block;
    }
  }
  .vm-content {

  }
}

// Make the view mode appears same height in lists.
.node--view-mode-stack {
  height: 100%;

  > div {
    height: 100%;

    > .vm-stack {
      height: 100%;
    }
  }
}
