.forum-container {
  background: lighten($gray-light, 51%);
  border-bottom: 5px solid $gray-lighter;
  padding-top: 2em !important;

  a {
    font-weight: 600;
    //color: $light-color;
  }
}

.forum_topics,
.forum_posts {
  text-align: right;
  width: 7em;

  a {
    font-size: $font-size-small;
  }
}
.forum_last_reply {
  @media (max-width: $screen-xs-min) {
    display: none;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
    display: none;
  }
  text-align: right;
  width: 15em;
}
