// Showcase page
.view-showcase.view-display-id-page_1 {
  .view-content {
    @extend .row;
  }
  .views-row {
    @extend .col-xs-12, .col-md-6, .col-lg-4;
  }
}

.field--name-field-main-screenshot {
  margin-bottom: 1em;
}

.field--name-field-url {
  margin: 1em 0;
  a {
    @extend .btn, .btn-lg, .btn-primary;
  }
}

//Logo block
.view-showcase.view-display-id-block_2 {
  .view-content {
    @media (min-width: $screen-xs-min) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .views-row {
    margin: 1em;

    img {
      margin: 0 auto;
    }
  }
}