<div>
    <img src="http://api.paylibo.com/paylibo/generator/czech/image?accountNumber=2201002802&bankCode=2010&amount=500.00&currency=CZK&vs={{ vs }}&branding=false"
         class="payment-qr"/>
    <h3>Platební údaje pro tuzemskou platbu (v rámci České republiky):</h3>
    <strong>Číslo účtu:</strong> 2201002802/2010<br>
    <strong>Variabilný symbol:</strong> {{ vs }}<br>
    <strong>Částka k uhrazení:</strong> 500 Kč<br>
    <h3>Údaje pro platbu ze zahraničí:</h3>
    <strong>IBAN:</strong> CZ2920100000002201002802<br>
    <strong>BIC/SWIFT:</strong> FIOBCZPPXXX<br>
    <strong>Majitel účtu:</strong> Asociace pro Drupal. z.s.<br>
    <strong>Částka k uhrazení:</strong> 8,50 €
    <p>V případě platby ze zahraničí prosím proveďte úhradu pouze v eurech, ušetříte nám 100 Kč za přijetí zahraniční
        platby v jiné měně.</p>
</div>