// Layout
.region-breadcrumbs {
  background: $gray-05;

  > * {
    margin: 0 auto;
    max-width: $max-width;
    padding: 0 $site-padding;
  }

  .breadcrumb {
    font-size: 1.4rem;
    padding: 0;

    ol {
      display: flex;
    }

    li {
      &::before {
        margin-left: 5px;
      }
    }

    a {
      color: $gray-6;
      text-decoration: none;
    }
  }
}
