// Layout
.footer-wrapper {
  background: $footer-bg;
  color: $footer-text;
  font-size: 1.4rem;

  .footer-content {
    @include bp(medium) {
      display: grid;
      grid-template-areas: 'footer-start footer-end';
      grid-template-columns: [footer-start] 3fr 2fr [footer-end];
    }
    margin: 0 auto;
    max-width: $max-width;
    padding: .5em $content-layout-padding;
  }

  .menu {
    margin: 0;
  }

  a {
    color: $footer-link;
  }

  p {
    margin: 0;
  }
}

.region-footer-one {
  grid-area: footer-start;
}

.region-footer-two {
  grid-area: footer-end;
}
