.main-navigation {
  background: $white-4;
  box-shadow: 0 0 25px 0 $gray-3;
  display: none;

  @include bp(medium) {
    display: block;
  }
}

.region-navigation {
  color: $white;
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 $content-layout-padding;

  .menu {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0;

    li {
      padding-top: 0;
    }

    a {
      color: $white;
      display: block;
      padding: .5em .8em;
      text-transform: uppercase;
      vertical-align: middle;

      &:hover,
      &.is-active {
        background: $white-3;
        box-shadow: none;
        color: $white;
      }
    }
  }
}

// Fixed menu
#block-mainnavigation.fixed {
  background: rgba(51, 122, 183, 0.85);
  box-shadow: 0 3px 5px $gray-3;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 600ms ease-in-out;
  width: 100%;

  &:hover {
    background: rgba(51, 122, 183, 1);
    transition: all 300ms ease-in-out;
  }

  .menu {
    margin: 0 auto;
    max-width: $max-width;
    padding: 0 $site-padding;
  }
}


// Small screen menu
.main-navigation.open {
  display: block;

  .region-navigation {
    padding: 0;
  }

  .menu {
    display: block;
  }
}
