.postscript {
  background: $postscript-bg;
  //border-top: 2px solid $drupal-secondary;
  box-shadow: 0 -4px 0 0 rgba(51, 122, 183, .2), 0 -10px 0 0 rgba(51, 122, 183, .2), 0 -16px 0 0 rgba(51, 122, 183, .2);
  margin-top: 2em;
  padding: 2em 0;
}

.region-postscript {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 $site-padding;

  @include bp(medium) {
    display: flex;
    justify-content: space-between;
  }

  > div {
    border-bottom: 1px solid rgba(51, 122, 183, .2);
    margin-bottom: 1em;
    padding-bottom: 1em;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    @include bp(medium) {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
      padding: 0 $site-padding;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }

  h2 {
    font-size: 1.2em;
    margin-top: 0;
  }

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
      margin-left: 0;
    }
  }
}

.page-node-type-dcz-landing-page .postscript {
  margin-top: 16px;
}
