{% block view_mode %}
  {% set has_image = content.image|render|trim %}

  <div {{ attributes.addClass('vm vm-teaser', has_image ? 'has-image' : 'no-image')  }}>
    {% if has_image %}
      <div class="vm-image">
        {{ content.image }}
      </div>
    {% endif %}

    {% if content.title|render|trim or content.content|render|trim %}
      <div class="vm-content-wrapper">
        {% if content.title|render|trim %}
          <h2 class="vm-title">
            {{ content.title }}
          </h2>
        {% endif %}
        {% if content.content|render|trim %}
          <div class="vm-content">
            {{ content.content }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}
