.view-mode-stack {
  margin-bottom: $grid-gutter-width;
  position: relative;

  .field--name-field-main-screenshot img {
    width: 100%;
  }

  .field--name-node-title {
    background: transparentize($light-color, 0.35);
    border-top: 4px solid $light-color;
    border-bottom: 4px solid $light-color;
    bottom: 1.5em;
    font-size: $font-size-h4;
    font-weight: 600;
    padding: 0.35em;
    position: absolute;
    text-align: center;
    width: 100%;

    a {
      color: $gray-dark;
    }
  }

  .field--name-field-drupal-version {
    background: transparentize($light-color, 0.1);
    padding: 0.1em 0.3em;
    position: absolute;
    right: 0;
    top: 0;
  }
}