default:
  suites:
    default:
      contexts:
        - FeatureContext: ~
        - Drupal\DrupalExtension\Context\DrupalContext: ~
        - Drupal\DrupalExtension\Context\MinkContext: ~
        - Drupal\DrupalExtension\Context\MessageContext: ~
  extensions:
    Behat\MinkExtension:
      goutte: ~
      selenium2: ~
      base_url: 'http://127.0.0.1:80'
    Drupal\DrupalExtension:
      blackbox: ~
      api_driver: 'drupal'
      drush:
        root: '%paths.base%/../../docroot'
      drupal:
        drupal_root: '%paths.base%/../../docroot'
