// Block with article tags.
.view-blog-tags {

  .view-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
  }

  .views-field-name a {
    border-radius: 3px;
    background: $gray-3;
    color: $white-10;
    display: inline-block;
    margin: 0 0.3em 0.3em 0;
    padding: 0.1em 0.35em;
  }
}

// Showcase block on homepage.
.view-showcase.view-display-id-embed_1 {
  .node--view-mode-stack {
    box-shadow: 0 0 15px $gray-2;

    .vm-stack {
      position: relative;
    }

    .vm-content-wrapper {
      bottom: 2em;
      box-shadow: 0 0 15px $gray-2;
      padding: 0;
      position: absolute;
      width: 100%;
      z-index: 50;

      h2 {
        margin: 0;

        a {
          background: $white-7;
          border-bottom: 1px solid $white;
          border-top: 1px solid $white;
          color: $white;
          display: block;
          margin: 0;
          padding: 1em;
          text-align: center;
          text-shadow: 0 0 5px $gray-4;
        }
      }
    }
  }
}

.path-frontpage {
  // Article section.
  .paragraph--type--layout {

    @include bp(medium) {
      // Two columns stacked layout 2:(1/2).
      &.layout-two-one-halves {
        .field--name-field-paragraphs {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto auto 1fr;

          .field__item:first-child {
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;
            grid-area: 1 / 1 / 2 / 3;
          }

          .field__item:nth-child(2) {
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            grid-area: 2 / 1 / 3 / 3;
          }

          .field__item:nth-child(3) {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            -ms-grid-row: 3;
            -ms-grid-row-span: 1;
            grid-area: 3 / 1 / 4 / 2;
          }

          .field__item:last-child {
            -ms-grid-column: 2;
            -ms-grid-column-span: 1;
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            grid-area: 3 / 2 / 4 / 3;
          }
        }
      }
    }
    @include bp(big) {
      &.layout-two-one-halves {
        .field--name-field-paragraphs {
          grid-template-columns: 3fr 2fr;
          grid-template-rows: auto auto 1fr;

          .field__item:first-child {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
            -ms-grid-row: 1;
            -ms-grid-row-span: 3;
            grid-area: 1 / 1 / 4 / 2;
          }

          .field__item:nth-child(2) {
            -ms-grid-column: 2;
            -ms-grid-column-span: 1;
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;
            grid-area: 1 / 2 / 2 / 3;
          }

          .field__item:nth-child(3) {
            -ms-grid-column: 2;
            -ms-grid-column-span: 1;
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            grid-area: 2 / 2 / 3 / 3;
          }

          .field__item:last-child {
            -ms-grid-column: 2;
            -ms-grid-column-span: 1;
            -ms-grid-row: 3;
            -ms-grid-row-span: 1;
            grid-area: 3 / 2 / 4 / 3;
          }
        }
      }
    }
    @include bp(large) {
      // Two columns stacked layout 2:(1/2).
      &.layout-two-one-halves {
        .field--name-field-paragraphs {
          grid-template-columns: 2fr 1fr;
          grid-template-rows: auto auto 1fr;
        }
      }
    }
  }
}
