// Landing page content type.
.page-node-type-dcz-landing-page {
  .block-page-title-block {
    margin: 0 auto;
    max-width: $max-width;
    padding: 0 $site-padding;
  }

  .paragraph-content,
  .block-entity-fieldnodebody {
    margin: 0 auto;
    max-width: $max-width;
    padding: 0 $site-padding;
  }

  ul {
    &.tabs {
      max-width: $max-width;
      padding: 0 $content-layout-padding;
    }
  }
}
