.user--view-mode-full {
  .block-entity-fielduserfield-dcz-user-image {

    @include bp(small) {
      float: right;
      width: 50%;
    }
  }
  .block-entity-fielduserfield-dcz-bio {
    clear: both;
  }

  .field--name-field-location {
    margin-top: 1em;
  }
}

.user--view-mode-stack {
  .vm-title {
    .block,
    .field {
      display: inline;
    }
  }
}
