.user--view-mode-full {
  .block-entity-fielduserfield-dcz-user-image {

    @include bp(small) {
      float: right;
      width: 50%;
    }
  }
  .block-entity-fielduserfield-dcz-bio {
    clear: both;
  }
}
