@charset "UTF-8";
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  color: #161c21;
  font-family: "Fira Sans";
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5; }

h1 {
  font-size: 5rem;
  font-weight: 100;
  line-height: 5.5rem; }

h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3; }

h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.3rem; }

h4 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8rem; }

a {
  color: #337ab7;
  text-decoration: none;
  transition: all 750ms ease-in-out; }
  a:hover {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
    transition: all 300ms ease-in-out; }

strong {
  font-weight: 600; }

.field--type-string-long a,
.field--type-text-long a {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5); }
  .field--type-string-long a:hover,
  .field--type-text-long a:hover {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1); }

.text-formatted ul,
.text-formatted ol {
  margin-left: 1em;
  padding-left: 1em; }
  .text-formatted ul ul,
  .text-formatted ul ol,
  .text-formatted ol ul,
  .text-formatted ol ol {
    margin-top: .5em; }
  .text-formatted ul li,
  .text-formatted ol li {
    margin-bottom: .5em; }

blockquote {
  background: rgba(51, 122, 183, 0.1);
  border-radius: 4px;
  margin: 3em 0;
  position: relative;
  padding: 2em; }
  blockquote:before {
    color: white;
    content: '“';
    font-size: 8em;
    left: 6px;
    line-height: 1;
    position: absolute;
    text-shadow: -3px 0 rgba(51, 122, 183, 0.1);
    top: -30px; }
  blockquote:after {
    color: #fff;
    content: '”';
    font-size: 8em;
    position: absolute;
    right: 6px;
    text-shadow: 3px 0 rgba(51, 122, 183, 0.1);
    line-height: 1; }

.lead {
  font-size: 2.43rem;
  font-weight: 100;
  font-style: italic; }

.extra-large {
  font-size: 4rem;
  font-weight: 100;
  font-style: italic;
  margin: .3em 0; }

article.comment .comment__meta, .node__meta {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.44rem;
  margin: 0 0 1.5em;
  padding: .5em; }
  article.comment .comment__meta > a, .node__meta > a {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    margin-right: .5em;
    padding-right: .5em; }

article.comment .comment__meta .profile, .node__meta .profile {
  float: left;
  height: 32px;
  margin-right: 1em;
  overflow: hidden;
  width: 32px; }

.paragraph--type--layout > .paragraph--layout {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2rem; }
  .paragraph--type--layout > .paragraph--layout .field--name-field-paragraphs {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem; }
    .paragraph--type--layout > .paragraph--layout .field--name-field-paragraphs .paragraph-content {
      padding: 0; }

@media (min-width: 48rem) {
  .paragraph--type--layout.layout-two-one-halves .field--name-field-paragraphs {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto 1fr;
        grid-template-rows: auto auto 1fr; } }

@media (min-width: 77rem) {
  .paragraph--type--layout.layout-full .field--name-field-paragraphs {
    width: 100%; }
  .paragraph--type--layout.layout-half .field--name-field-paragraphs {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr; }
    .paragraph--type--layout.layout-half .field--name-field-paragraphs > .field__item:nth-child(2) {
      -ms-grid-column: 2; }
  .paragraph--type--layout.layout-third .field--name-field-paragraphs {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr; }
    .paragraph--type--layout.layout-third .field--name-field-paragraphs > .field__item:nth-child(2) {
      -ms-grid-column: 2; }
    .paragraph--type--layout.layout-third .field--name-field-paragraphs > .field__item:nth-child(3) {
      -ms-grid-column: 3; }
  .paragraph--type--layout.layout-quarter .field--name-field-paragraphs {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr; }
    .paragraph--type--layout.layout-quarter .field--name-field-paragraphs > .field__item:nth-child(32) {
      -ms-grid-column: 2; }
    .paragraph--type--layout.layout-quarter .field--name-field-paragraphs > .field__item:nth-child(3) {
      -ms-grid-column: 3; }
    .paragraph--type--layout.layout-quarter .field--name-field-paragraphs > .field__item:nth-child(4) {
      -ms-grid-column: 4; }
  .paragraph--type--layout.layout-one-two .field--name-field-paragraphs {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr; }
    .paragraph--type--layout.layout-one-two .field--name-field-paragraphs > .field__item:nth-child(2) {
      -ms-grid-column: 2; }
  .paragraph--type--layout.layout-two-one .field--name-field-paragraphs {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr; }
    .paragraph--type--layout.layout-two-one .field--name-field-paragraphs > .field__item:nth-child(2) {
      -ms-grid-column: 2; }
  .paragraph--type--layout.layout-two-one-halves .field--name-field-paragraphs {
    -ms-grid-columns: 3fr 2fr;
        grid-template-columns: 3fr 2fr;
    -ms-grid-rows: auto auto 1fr;
        grid-template-rows: auto auto 1fr; }
    .paragraph--type--layout.layout-two-one-halves .field--name-field-paragraphs .field__item:first-child {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      -ms-grid-row: 1;
      -ms-grid-row-span: 3;
      grid-area: 1 / 1 / 4 / 2; }
    .paragraph--type--layout.layout-two-one-halves .field--name-field-paragraphs .field__item:nth-child(2) {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-area: 1 / 2 / 2 / 3; }
    .paragraph--type--layout.layout-two-one-halves .field--name-field-paragraphs .field__item:nth-child(3) {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-area: 2 / 2 / 3 / 3; }
    .paragraph--type--layout.layout-two-one-halves .field--name-field-paragraphs .field__item:last-child {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      grid-area: 3 / 2 / 4 / 3; } }

@media (min-width: 120rem) {
  .paragraph--type--layout.layout-two-one-halves .field--name-field-paragraphs {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: auto auto 1fr;
        grid-template-rows: auto auto 1fr; } }

.region-admin-area {
  background: rgba(41, 83, 125, 0.21); }
  .region-admin-area > * {
    margin: 0 auto;
    max-width: 120rem; }

.region-breadcrumbs {
  background: rgba(0, 0, 0, 0.05); }
  .region-breadcrumbs > * {
    margin: 0 auto;
    max-width: 120rem;
    padding: 0 2rem; }
  .region-breadcrumbs .breadcrumb {
    font-size: 1.4rem;
    padding: 0; }
    .region-breadcrumbs .breadcrumb ol {
      display: -ms-flexbox;
      display: flex; }
    .region-breadcrumbs .breadcrumb li::before {
      margin-left: 5px; }
    .region-breadcrumbs .breadcrumb a {
      color: rgba(0, 0, 0, 0.6);
      text-decoration: none; }

.footer-wrapper {
  background: #29537d;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.4rem; }
  .footer-wrapper .footer-content {
    margin: 0 auto;
    max-width: 120rem;
    padding: 0.5em 2rem; }
    @media (min-width: 77rem) {
      .footer-wrapper .footer-content {
        display: -ms-grid;
        display: grid;
        grid-template-areas: 'footer-start footer-end';
        -ms-grid-columns: [footer-start] 3fr 2fr [footer-end];
            grid-template-columns: [footer-start] 3fr 2fr [footer-end]; } }
  .footer-wrapper .menu {
    margin: 0;
    display: -ms-flexbox;
    display: flex; }
    @media (min-width: 77rem) {
      .footer-wrapper .menu {
        -ms-flex-pack: right;
            justify-content: right; } }
    .footer-wrapper .menu li {
      margin-right: 1em;
      padding-top: 0; }
  .footer-wrapper a {
    color: rgba(255, 255, 255, 0.8); }
  .footer-wrapper p {
    margin: 0; }

.region-footer-one {
  grid-area: footer-start; }

.region-footer-two {
  grid-area: footer-end; }

header {
  background: #337ab7; }

.region-header {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0 auto;
  max-width: 120rem;
  padding: 1em 2rem; }

.logo a:hover {
  box-shadow: none;
  opacity: .85; }

.main-navigation {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
  display: none; }
  @media (min-width: 77rem) {
    .main-navigation {
      display: block; } }

.region-navigation {
  color: white;
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2rem; }
  .region-navigation .menu {
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin: 0; }
    .region-navigation .menu li {
      padding-top: 0; }
    .region-navigation .menu a {
      color: white;
      display: block;
      padding: .5em .8em;
      text-transform: uppercase;
      vertical-align: middle; }
      .region-navigation .menu a:hover, .region-navigation .menu a.is-active {
        background: rgba(255, 255, 255, 0.3);
        box-shadow: none;
        color: white; }

#block-mainnavigation.fixed {
  background: rgba(51, 122, 183, 0.85);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  left: 0;
  position: fixed;
  top: 0;
  transition: all 600ms ease-in-out;
  width: 100%;
  z-index: 100; }
  #block-mainnavigation.fixed:hover {
    background: #337ab7;
    transition: all 300ms ease-in-out; }
  #block-mainnavigation.fixed .menu {
    margin: 0 auto;
    max-width: 120rem;
    padding: 0 2rem; }

.main-navigation.open {
  display: block; }
  .main-navigation.open .region-navigation {
    padding: 0; }
  .main-navigation.open .menu {
    display: block; }

.postscript {
  background: rgba(51, 122, 183, 0.1);
  box-shadow: 0 -4px 0 0 rgba(51, 122, 183, 0.2), 0 -10px 0 0 rgba(51, 122, 183, 0.2), 0 -16px 0 0 rgba(51, 122, 183, 0.2);
  margin-top: 2em;
  padding: 2em 0; }

.region-postscript {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 4rem; }
  @media (min-width: 77rem) {
    .region-postscript {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between; } }
  .region-postscript > div {
    border-bottom: 1px solid rgba(51, 122, 183, 0.2);
    margin-bottom: 1em;
    padding-bottom: 1em; }
    .region-postscript > div:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0; }
    @media (min-width: 77rem) {
      .region-postscript > div {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
        padding: 0 2rem; }
        .region-postscript > div:first-child {
          padding-left: 0; }
        .region-postscript > div:last-child {
          padding-right: 0; } }
  .region-postscript h2 {
    font-size: 1.2em;
    margin-top: 0; }
  .region-postscript ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0; }
    .region-postscript ul li {
      margin-left: 0; }

ul.tabs {
  margin: .5em auto; }
  ul.tabs li {
    margin-right: .5em; }

.tabs a {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.4rem;
  padding: .5em 0;
  text-transform: uppercase; }
  .tabs a.is-active, .tabs a:hover {
    background: transparent;
    box-shadow: 0 0.5em 0 0 rgba(41, 83, 125, 0.21); }

.top-bar {
  background: #29537d; }

.region-top-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2rem; }
  .region-top-bar .menu {
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 2em; }
    .region-top-bar .menu li {
      margin-left: .5em;
      padding: 0;
      text-transform: uppercase; }
    .region-top-bar .menu a {
      color: white;
      display: block;
      font-size: 1.2rem;
      line-height: 2; }
      .region-top-bar .menu a.is-active {
        color: white; }

.button {
  background: #29537d;
  border-radius: 3px;
  border: none;
  color: white;
  display: inline-block;
  padding: 0.5em 0.8em;
  text-align: center; }
  .button:hover {
    background: #337ab7;
    box-shadow: none; }

article.comment.by-viewer:not(.by-anonymous) .comment__meta::before, article.comment.by-node-author .comment__meta::before, article.comment.by-viewer.by-node-author .comment__meta::before {
  font-size: 1.8rem;
  position: absolute;
  right: 0;
  top: -21px; }

article.comment {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 2em; }
  article.comment .content > h3 {
    margin-top: .3em; }
  article.comment .comment__meta {
    position: relative; }
    article.comment .comment__meta .comment__submitted {
      display: inline-block;
      margin: 0; }
    article.comment .comment__meta .permalink {
      float: right; }
  article.comment.by-viewer:not(.by-anonymous) .comment__meta {
    background: rgba(51, 122, 183, 0.1); }
    article.comment.by-viewer:not(.by-anonymous) .comment__meta::before {
      content: "Submitted by me!";
      color: rgba(51, 122, 183, 0.1); }
  article.comment.by-node-author .comment__meta {
    box-shadow: inset 0 2px 0 0 #337ab7; }
    article.comment.by-node-author .comment__meta::before {
      content: "Submitted by author!";
      color: #337ab7; }
  article.comment.by-viewer.by-node-author .comment__meta::before {
    content: "Yes, I'm the author!";
    color: #337ab7; }

mark {
  background: #d9534f;
  color: white;
  display: block;
  font-size: 1.44rem;
  text-align: center;
  width: 60px; }

.indented {
  margin-left: 3em; }

.field--label-inline {
  display: -ms-flexbox;
  display: flex; }

form {
  background: rgba(51, 122, 183, 0.1);
  padding: 1em 2rem; }
  @media (min-width: 77rem) {
    form {
      padding: 1em 2em; } }
  form label {
    display: block; }
  form input {
    color: #29537d; }
  form .form-text,
  form .form-email,
  form .form-tel,
  form .form-textarea {
    border: none;
    box-shadow: 0 0 0 2px #29537d;
    border-radius: 3px;
    color: #29537d;
    padding: .5em 1em;
    width: 100%; }
    @media (min-width: 48rem) {
      form .form-text,
      form .form-email,
      form .form-tel,
      form .form-textarea {
        max-width: 100%; } }
  form .form-textarea {
    border-radius: 3px; }
  form .form-item .description {
    font-size: .85em;
    line-height: 1.3em;
    margin-top: .5em; }

.forum .time {
  font-size: 1.44rem; }

.forum-container {
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.8);
  padding-top: 2em !important; }
  .forum-container a {
    font-weight: 600; }

.forum__title div:first-child {
  font-size: 2rem;
  font-weight: 700; }

.forum__title br {
  display: none; }

.forum__topics,
.forum__posts {
  text-align: right;
  width: 7em; }
  .forum__topics a,
  .forum__posts a {
    font-size: 1.44rem; }

.forum__replies {
  text-align: right; }
  .forum__replies br {
    display: none; }
  .forum__replies a {
    background: #d9534f;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin-left: 3px;
    overflow: hidden;
    text-indent: -9999px;
    vertical-align: super;
    width: 8px; }

.forum__last-reply {
  text-align: right;
  width: 15em; }

.media--type-image .field--name-name {
  display: none; }

img {
  height: auto;
  width: 100%; }

.menu-switch {
  width: 35px;
  height: 28px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  display: block; }
  @media (min-width: 77rem) {
    .menu-switch {
      display: none; } }

.menu-switch span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out; }

.menu-switch span:nth-child(1) {
  top: 0px; }

.menu-switch span:nth-child(2), .menu-switch span:nth-child(3) {
  top: 12px; }

.menu-switch span:nth-child(4) {
  top: 24px; }

.menu-switch.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

.menu-switch.open span:nth-child(2) {
  transform: rotate(45deg); }

.menu-switch.open span:nth-child(3) {
  transform: rotate(-45deg); }

.menu-switch.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.more-link {
  text-align: left; }

.block-page-title-block {
  padding: 0; }

.dcz-para-black {
  background: black;
  color: white;
  padding: 1em 2em; }
  .dcz-para-black a {
    color: white; }

.dcz-para-dark {
  background: #29537d;
  color: rgba(255, 255, 255, 0.9);
  padding: 1em 2em; }
  .dcz-para-dark a {
    color: white; }
  .dcz-para-dark .button {
    background: #337ab7; }
    .dcz-para-dark .button:hover {
      background: #3072ab; }

.dcz-para-light {
  background: rgba(51, 122, 183, 0.1);
  color: #29537d;
  padding: 1em 2em; }

.dcz-para-drupal {
  background: url("../images/drupal-tapestry.png") repeat top center;
  color: #29537d;
  padding: 1em 2em; }

.dcz-para-checkerboard {
  background: url("../images/checkerboard.jpg") repeat top center;
  color: rgba(255, 255, 255, 0.9);
  padding: 1em 2em; }
  .dcz-para-checkerboard a {
    color: white; }
  .dcz-para-checkerboard .button {
    background: #d98426; }
    .dcz-para-checkerboard .button:hover {
      background: #cc7c24; }

.dcz-para-text-center {
  text-align: center; }

.dcz-para-box-shadow {
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.3); }

.dcz-para-text-shadow {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7); }

.dcz-para-padding-big {
  padding: 3em 2em; }

.dcz-para-bottom-gap {
  margin-bottom: 2em; }

.paragraph--type--layout {
  padding-left: 0;
  padding-right: 0; }

.paragraph--type--dcz-para-hero {
  position: relative; }
  .paragraph--type--dcz-para-hero img {
    display: block; }
  @media (min-width: 48rem) {
    .paragraph--type--dcz-para-hero .hero-title {
      display: -ms-flexbox;
      display: flex;
      bottom: 0;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      color: white;
      -ms-flex-direction: column;
          flex-direction: column;
      font-size: 3rem;
      -ms-flex-pack: center;
          justify-content: center;
      left: 0;
      letter-spacing: 0.25rem;
      padding: 3rem;
      position: absolute;
      right: 0;
      top: 0; } }
  .paragraph--type--dcz-para-hero .hero-title h1 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase; }
    @media (min-width: 48rem) {
      .paragraph--type--dcz-para-hero .hero-title h1 {
        font-size: 4rem;
        margin: 0; } }
    @media (min-width: 77rem) {
      .paragraph--type--dcz-para-hero .hero-title h1 {
        font-size: 6rem; } }

table {
  border-bottom: 5px solid #337ab7;
  width: 100%; }

thead {
  background: #337ab7;
  border-bottom: 6px double #337ab7;
  color: white; }
  thead th {
    display: block;
    padding: 3px 8px;
    text-align: center;
    vertical-align: top; }
    @media (min-width: 77rem) {
      thead th {
        display: table-cell;
        text-align: left; } }
  thead a {
    color: white; }

tbody tr {
  border-bottom: 1px solid #337ab7; }
  tbody tr:nth-child(even) {
    background: rgba(51, 122, 183, 0.1); }

tbody td {
  display: block;
  padding: 3px 5px;
  text-align: center;
  vertical-align: top; }
  @media (min-width: 77rem) {
    tbody td {
      display: table-cell;
      text-align: left; } }

/* Style the tab */
.tab {
  border-bottom: 1px solid #337ab7;
  color: #29537d;
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
  width: 100%; }
  @media (min-width: 48rem) {
    .tab {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media (min-width: 48rem) {
    .tab li {
      width: calc(100 / 2 * 1%); } }
  @media (min-width: 77rem) {
    .tab li {
      width: calc(100 / 3 * 1%); } }
  @media (min-width: 120rem) {
    .tab li {
      width: calc(100 / 5 * 1%); } }

/* Style the link that are used to open the tab content */
.tablink {
  background-color: inherit;
  color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  font-weight: 500;
  padding: .7em 1.4em;
  text-align: center;
  transition: .3s;
  width: 100%;
  /* Change background color of buttons on hover */
  /* Create an active/current tablink class */ }
  .tablink:hover {
    box-shadow: 0 2px 0 0 #337ab7;
    color: #337ab7; }
  .tablink.active {
    box-shadow: inset 0 -4px 0 0 #337ab7;
    color: #337ab7; }

/* Style the tab content */
.tab-pane {
  animation: fadeOut 1s;
  /* Fading effect takes 1 second */
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  display: none;
  margin-bottom: 2em;
  padding: 1em; }
  .tab-pane.active {
    animation: fadeIn 2.3s;
    /* Fading effect takes 1 second */
    display: block; }

/* Go from zero to full opacity */
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Go from zero to 0 opacity */
@keyframes fadeOut {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.field--name-field-tags {
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em; }
  .field--name-field-tags .field__item {
    margin-right: 5px; }
    .field--name-field-tags .field__item a {
      background: rgba(51, 122, 183, 0.1);
      border-radius: 3px;
      font-size: 1.5rem;
      padding: .3em .8em; }
      .field--name-field-tags .field__item a:hover {
        box-shadow: inset 0 -2px 0 rgba(51, 122, 183, 0.1); }

.view-user-directory .view-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -1.33333rem;
  margin-right: -1.33333rem; }
  .view-user-directory .view-content .views-row {
    max-width: calc(100 / 2 * 1%);
    padding: 1.33333rem; }
    @media (min-width: 48rem) {
      .view-user-directory .view-content .views-row {
        width: calc(100 / 3 * 1%); } }
    @media (min-width: 77rem) {
      .view-user-directory .view-content .views-row {
        width: calc(100 / 4 * 1%); } }
    @media (min-width: 102rem) {
      .view-user-directory .view-content .views-row {
        width: calc(100 / 5 * 1%); } }
    @media (min-width: 120rem) {
      .view-user-directory .view-content .views-row {
        width: calc(100 / 6 * 1%); } }

.view-filters {
  margin-bottom: 1em; }

.vm-stack {
  background: rgba(255, 255, 255, 0.9); }
  .vm-stack .vm-content-wrapper {
    padding: 0.7em 1em; }
  .vm-stack .vm-title {
    font-size: 2.5rem;
    margin-top: 0; }
  .vm-stack .vm-image img {
    display: block; }

.node--view-mode-stack {
  height: 100%; }
  .node--view-mode-stack > div {
    height: 100%; }
    .node--view-mode-stack > div > .vm-stack {
      height: 100%; }

@media (min-width: 48rem) {
  .vm-teaser {
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 48rem) {
  .vm-teaser.has-image .vm-image {
    margin-right: 3%;
    width: 30%; } }

@media (min-width: 77rem) {
  .vm-teaser.has-image .vm-image {
    width: 20%; } }

@media (min-width: 48rem) {
  .vm-teaser.has-image .vm-content-wrapper {
    width: 70%; } }

@media (min-width: 77rem) {
  .vm-teaser.has-image .vm-content-wrapper {
    width: 80%; } }

.vm-teaser .vm-title {
  font-size: 2.5rem;
  margin-bottom: .3em;
  margin-top: 0;
  position: relative; }
  .vm-teaser .vm-title:after {
    background: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    bottom: -11px;
    padding: 0.1em 0.2em;
    position: absolute;
    text-transform: uppercase; }

.node--type-tutorial .vm-teaser .vm-title:after {
  content: "Tutoriál"; }

.node--type-dcz_article .vm-teaser .vm-title:after {
  content: "Článek"; }

.node--sticky .vm-teaser .vm-title a {
  color: #d98426; }

.vm-title_date {
  margin-bottom: 0.5em; }
  .vm-title_date .vm-title {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.1em; }
  .vm-title_date .vm-date {
    font-size: 0.85em; }
    .vm-title_date .vm-date .block-region-date {
      display: -ms-flexbox;
      display: flex; }
      .vm-title_date .vm-date .block-region-date > * {
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        margin-right: 0.5em;
        padding-right: 0.5em; }
        .vm-title_date .vm-date .block-region-date > *:last-child {
          border-right: none;
          margin-right: 0;
          padding-right: 0; }

.view-dcz-articles .views-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
  padding-bottom: 1em; }
  .view-dcz-articles .views-row:last-child {
    border-bottom: none;
    margin-bottom: 1em;
    padding-bottom: 0; }

.node--type-forum .field--name-taxonomy-forums,
.node--type-forum .field--name-field-drupal-version {
  float: left;
  margin-bottom: 1em; }

.node--type-forum .field--name-body {
  clear: both; }

.view-blog-tags .view-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1em; }

.view-blog-tags .views-field-name a {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  display: inline-block;
  margin: 0 0.3em 0.3em 0;
  padding: 0.1em 0.35em; }

.view-showcase.view-display-id-embed_1 .node--view-mode-stack {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }
  .view-showcase.view-display-id-embed_1 .node--view-mode-stack .vm-stack {
    position: relative; }
  .view-showcase.view-display-id-embed_1 .node--view-mode-stack .vm-content-wrapper {
    background: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    bottom: 2em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 1em;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 50; }
    .view-showcase.view-display-id-embed_1 .node--view-mode-stack .vm-content-wrapper h2 {
      margin: 0; }
      .view-showcase.view-display-id-embed_1 .node--view-mode-stack .vm-content-wrapper h2 a {
        color: black;
        display: block;
        margin: 0; }

@media (min-width: 77rem) {
  .path-frontpage .paragraph--type--layout.layout-two-one-halves .field--name-field-paragraphs {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto 1fr;
        grid-template-rows: auto auto 1fr; }
    .path-frontpage .paragraph--type--layout.layout-two-one-halves .field--name-field-paragraphs .field__item:first-child {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-area: 1 / 1 / 2 / 3; }
    .path-frontpage .paragraph--type--layout.layout-two-one-halves .field--name-field-paragraphs .field__item:nth-child(2) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-area: 2 / 1 / 3 / 3; }
    .path-frontpage .paragraph--type--layout.layout-two-one-halves .field--name-field-paragraphs .field__item:nth-child(3) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      grid-area: 3 / 1 / 4 / 2; }
    .path-frontpage .paragraph--type--layout.layout-two-one-halves .field--name-field-paragraphs .field__item:last-child {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-area: 3 / 2 / 4 / 3; } }

@media (min-width: 102rem) {
  .path-frontpage .paragraph--type--layout.layout-two-one-halves .field--name-field-paragraphs {
    -ms-grid-columns: 3fr 2fr;
        grid-template-columns: 3fr 2fr;
    -ms-grid-rows: auto auto 1fr;
        grid-template-rows: auto auto 1fr; }
    .path-frontpage .paragraph--type--layout.layout-two-one-halves .field--name-field-paragraphs .field__item:first-child {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      -ms-grid-row: 1;
      -ms-grid-row-span: 3;
      grid-area: 1 / 1 / 4 / 2; }
    .path-frontpage .paragraph--type--layout.layout-two-one-halves .field--name-field-paragraphs .field__item:nth-child(2) {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-area: 1 / 2 / 2 / 3; }
    .path-frontpage .paragraph--type--layout.layout-two-one-halves .field--name-field-paragraphs .field__item:nth-child(3) {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-area: 2 / 2 / 3 / 3; }
    .path-frontpage .paragraph--type--layout.layout-two-one-halves .field--name-field-paragraphs .field__item:last-child {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      grid-area: 3 / 2 / 4 / 3; } }

@media (min-width: 120rem) {
  .path-frontpage .paragraph--type--layout.layout-two-one-halves .field--name-field-paragraphs {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: auto auto 1fr;
        grid-template-rows: auto auto 1fr; } }

.page-node-type-dcz-landing-page .block-page-title-block {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2rem; }

.page-node-type-dcz-landing-page .paragraph-content,
.page-node-type-dcz-landing-page .block-entity-fieldnodebody {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2rem; }

.page-node-type-dcz-landing-page ul.tabs {
  max-width: 120rem;
  padding: 0 4rem; }

.main-container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2rem; }

.view-showcase.view-display-id-embed_2 .view-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: stretch;
      align-items: stretch;
  margin-left: -1.33333rem;
  margin-right: -1.33333rem; }
  .view-showcase.view-display-id-embed_2 .view-content .views-row {
    max-width: calc(100 / 1 * 1%);
    padding: 2rem; }
    @media (min-width: 48rem) {
      .view-showcase.view-display-id-embed_2 .view-content .views-row {
        width: calc(100 / 2 * 1%); } }
    @media (min-width: 77rem) {
      .view-showcase.view-display-id-embed_2 .view-content .views-row {
        width: calc(100 / 3 * 1%); } }
    @media (min-width: 102rem) {
      .view-showcase.view-display-id-embed_2 .view-content .views-row {
        width: calc(100 / 4 * 1%); } }

.view-dcz-tutorials .views-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
  padding-bottom: 1em; }
  .view-dcz-tutorials .views-row:last-child {
    border-bottom: none;
    margin-bottom: 1em;
    padding-bottom: 0; }

@media (min-width: 48rem) {
  .user--view-mode-full .block-entity-fielduserfield-dcz-user-image {
    float: right;
    width: 50%; } }

.user--view-mode-full .block-entity-fielduserfield-dcz-bio {
  clear: both; }

.user--view-mode-full .field--name-field-location {
  margin-top: 1em; }

.user--view-mode-stack .vm-title .block,
.user--view-mode-stack .vm-title .field {
  display: inline; }

/*# sourceMappingURL=style.css.map */
